html, body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  overflow: hidden;
  font-family: sans-serif;
}
canvas {
  display: block;
}
input[type="file"] {
  font-size: 12px;
  color: #ffffff;
}